<!-- This is the header file for our ampsper theme -->
<div role='banner' class="header_ampsper">
	{{#if @blog.logo}}<a class="logo_ampsper" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
	<h1 class="blogtitle_ampsper"><a title="{{@blog.title}}" href='{{@blog.url}}'>{{{@blog.title}}}</a></h1>
	<p class="blogdescription_ampsper">
		<a title="{{@blog.title}}" href='{{@blog.url}}'>
		{{@blog.description}}
		</a>
	</p>
</div>