{{!< default}}
{{> header}}
<main class="main_ampsper" role="main">
	{{#post}}
		<article class="article_ampsper" role="article" itemscope itemtype="http://schema.org/Article">
		<header class="postheader_ampsper">
			<time class="date_ampsper" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
			<h1 class="posttitle_ampsper" itemprop="headline">{{title}}</h1>
		</header>
		<div class="postcontent_ampsper" itemprop="articleBody">
			{{content}}
		</div>

		{{#if tags}}
		<div class="posttags_ampsper">
			Tags: {{tags separator=" | "}}
		</div>
		{{/if}}
			{{#if author}}
				<footer class="postfooter_ampsper">
				<address itemscope itemtype="http://schema.org/Person">
				{{#if author.image}}
				<div class="authorimage_ampsper"><amp-img src="{{author.image}}" itemprop="image" /></div>
				{{/if}}
				<h4 class="authorname_ampsper"><span itemprop="author">{{author.name}}</span></h4>
				{{#if author.website}}
				<div class="authorwebsite_ampsper"><a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>
				{{/if}}
				</address>
				<div class="authorbio_ampsper">
					<p>{{author.bio}}</p>
				</div>
				</footer>
			{{/if}}
		</article>
		{{/post}}
		{{#if pagination}}
		<div class="pagination_ampsper">
		{{{pagination}}}
		</div>
	{{/if}}
</main>
{{> footer}}